<%/*
 report
 commentr
 commentrForm
 commentrError
*/%>

<div class="border-top">
  <% if(commentr.isDeleted){ %>
    <div class="text-muted p-2">(Deleted Comment)</div>
  <% } else { %>
    <div class="row pt-1 pb-1">
      <div class="col-3 col-md-2 col-lg-1 pl-4"><%= commentr.author.name %></div>
      <div id="commentr-<%= commentr._id %>" class="col-9 col-md-10 col-lg-11 <%= (commentrError._id == commentr._id)?'comment-edit-enabled':'' %> <%= (commentrError.parentCommentr == commentr._id)?'commentr-reply-enabled':'' %>">
        <div class="comment-show">
          <div class="comment-text mb-3"><%= commentr.text %></div>
          <small class="d-block">
            ( Created: <span data-date-time="<%= commentr.createdAt %>"></span>
            <% if(commentr.updatedAt){ %>
              | Updated: <span data-date-time="<%= commentr.updatedAt %>"></span>
            <% } %>
            )
          </small>
          <% if(isAuthenticated && report.author && currentUser.id == report.author.id){ %>
            <small class="d-block">
              <a href="javascript:void(0)" onclick="$('.comment-reply-enabled').removeClass('comment-reply-enabled'); $('.comment-edit-enabled').removeClass('comment-edit-enabled'); $('#comment-<%= commentr._id %>').addClass('comment-reply-enabled')">reply</a>
              |
              <a href="javascript:void(0)" onclick="$('.comment-reply-enabled').removeClass('comment-reply-enabled'); $('.comment-edit-enabled').removeClass('comment-edit-enabled'); $('#comment-<%= commentr._id %>').addClass('comment-edit-enabled')">Edit</a>
              |
              <form action="/commentsr/<%= commentr._id %>?reportId=<%= report._id %>&_method=delete<%= getPostQueryString(true) %>" method="post" class="d-inline">
                <a href="javascript:void(0)" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
              </form>
            </small>
          <% } %>
        </div>
        <div class="comment-edit">
          <%- include('./commentr-form', {
            actionUrl:'/commentsr/' + commentr._id + '?reportId=' + report._id + '&_method=put',
            commentr: commentr,
            commentrForm: commentrForm,
            commentrError: commentrError,
            parentCommentr: null,
          }); %>
        </div>
        <div class="comment-reply">
          <%- include('./commentr-form', {
            actionUrl:'/commentsr?reportId=' + report._id,
            commentr: {},
            commentrForm: commentrForm,
            commentrError: commentrError,
            parentCommentr: commentr._id,
          }); %>
        </div>
      </div>
    </div>
  <% } %>

  <div class="ml-3">
    <% if(commentr.childCommentsr){ %>
      <% commentr.childCommentsr.forEach(function(childCommentr) { %>
        <%- include('./commentr-show', {
          report: report,
          commentr: childCommentr,
          commentrForm: commentrForm,
          commentrError: commentrError,
        }); %>
      <% }) %>
    <% } %>
  </div>

</div>
