<%/*
 actionUrl
 commentr
 commentrForm
 commentrError
 parentCommentr
*/%>

<form action="<%= actionUrl %><%= getPostQueryString(true) %>" method="post">
  <fieldset <%= !isAuthenticated?'disabled':'' %>>
    <% if(parentCommentr){ %>
      <input type="hidden" name="parentCommentr" value="<%= parentCommentr %>">
    <% } %>
    <div class="row">
      <div class="col-8">
        <textarea id="text" name="text" rows="2" class="form-control <%= (commentrError._id == commentr._id && commentrError.parentCommentr == parentCommentr && commentrError.errors.text)?'is-invalid':'' %>"><%= (commentrForm._id == commentr._id)?commentrForm.form.text:commentr.text %></textarea>
      </div>
      <div class="col-4">
        <% if(commentr._id){ %>
          <button type="submit" class="btn btn-primary h-100 mr-2 pl-4 pr-4">Edit</button>
          <a href="javascript:void(0)" onclick="$('#comment-<%= commentr._id %>').removeClass('comment-edit-enabled')">Cancel</a>
        <% } else if(parentCommentr) {%>
          <button type="submit" class="btn btn-primary h-100 mr-2">Add Reply</button>
          <a href="javascript:void(0)" onclick="$('#comment-<%= parentCommentr %>').removeClass('comment-reply-enabled')">Cancel</a>
        <% } else { %>
          <button type="submit" class="btn btn-primary h-100 mr-2">Add Comment</button>
        <% } %>
      </div>
    </div>
    <% if(commentrError._id == commentr._id && commentrError.parentCommentr == parentCommentr && commentrError.errors.text){ %>
      <span class="invalid-feedback d-block"><%= commentrError.errors.text.message %></span>
    <% } %>
  </fieldset>
</form>
